In [1]:
#lists...it can store elements of differrent data types
marks=[78.5,65.9,87.9]
print(marks)
print(type(marks))
print(marks[2])
print(len(marks))

[78.5, 65.9, 87.9]
<class 'list'>
87.9
3

In [ ]:
#lists are mutable in python
student=['aashi','95','23']
print(student)
print(student[2])
student[2]='jain'
print(student)

['aashi', '95', '23']
23
['aashi', '95', 'jain']

In [ ]:
marks=[98,78,90,70,60]
print(marks[1:4])

[78, 90, 70]

In [ ]:
marks=[98,78,90,70,60]
print(marks[-3:-1])

[90, 70]

In [ ]:
list=[98,70,60,50]
list.append(68)
print(list)#list is mutated

[98, 70, 60, 50, 68]

In [ ]:
list.sort
print(list)

[50, 60, 68, 70, 98]

In [ ]:
list.sort(reverse=True)
print(list)

[98, 70, 68, 60, 50]

In [ ]:
list=['apple','orange','banana']
print(list.sort())
print(list)

None
['apple', 'banana', 'orange']

In [ ]:
list.reverse()
print(list)

['orange', 'banana', 'apple']

In [ ]:
#for insertin an element in list
#list.insert(index,element)
list=[1,7,8,4,7,9]
list.insert(2,3)
list.append(10)
print(list)

[1, 7, 3, 8, 4, 7, 9, 10]

In [ ]:
#tupple they are immutable just like strings
tup=(1,5,8,9)
print(type(tup))

<class 'tuple'>

In [ ]:
tup[0]=5#just like string tupples are immuatble
print(tup)

TypeError: 'int' object does not support item assignment

In [ ]:
tup=(1)
print(type(tup))#for it to be treated as tupple we use a comma

<class 'int'>

In [ ]:
#tuple methods
tup=(1,5,7,9)
print(tup.index(5))

1

In [ ]:
tup=(1,3,5,6,5)
print(tup.count(5))
print(tup[1])

2
3

In [ ]:
#to check whetehr a nubr is palindromeor not
list1=[1,2,1]
copy_list=list1.copy()#we copy the list
copy_list.reverse()#then we reverse the copy of the list
if copy_list==list1:
  print("palindrome")
else:
  print('not')

palindrome

In [ ]:
tup=('A','C','D','A','B','B','A')
print(tup.count('A'))

3

In [ ]:
list=['A','C','D','A','B','B','A']
list.sort()
print(list)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [ ]:
list=['A','C','D','A','B','B','A']
print(sorted(list))

['A', 'A', 'A', 'B', 'B', 'C', 'D']

In [ ]:
#dictionary..it is mutable..there is no order therefore no index
info={
    'name':'aashi',
    'age':23,
    'city':'agra',
    'state':'up'
}
print(info['name'])

aashi

In [ ]:

info={
    'name':'aashi',
    'age':23,
    'city':'agra',
    'state':'up'
}
print(info.values())

dict_values(['aashi', 23, 'agra', 'up'])

In [ ]:
info={}
print(type(info))

<class 'dict'>

In [ ]:
#dictionary..it is mutable..there is no order therefore no index
info={
    'name':'aashi',
    'age':23,
    'city':'agra',
    'state':'up'
}
print(info.get('name'))

aashi

In [ ]:
#dictionary..it is mutable..there is no order therefore no index
info={
    'name':'aashi',
    'age':23,
    'city':'agra',
    'state':'up'
}
print(info.items())

dict_items([('name', 'aashi'), ('age', 23), ('city', 'agra'), ('state', 'up')])

In [ ]:
#sets in python
collection={8,2,8,0,8,7,2,'aashi','jain'}
print(collection)
print(type(collection))

{0, 2, 'jain', 7, 8, 'aashi'}
<class 'set'>

In [ ]:
#empty set
#set is mutable but the elemets in set are imutable
#we can pass tuple but not lists and ictionary
collection=set()
print(collection)

set()

In [ ]:
collection=set()
collection.add(1)
collection.add(2)
collection.add(9)
collection.add(0)
collection.add(3)
#collection.pop()
#collection.remove(0)
#collection.clear()
print(collection)

{0, 1, 2, 3, 9}

In [ ]:
set1={1,2,7,9}
set2={0,8,3,2,1,6}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1)
print(set2)

{0, 1, 2, 3, 6, 7, 8, 9}
{1, 2}
{1, 2, 9, 7}
{0, 1, 2, 3, 6, 8}

In [ ]:
word={
    "table" : ["a piece of furniture","list of facts and figures"],
    "cat": "a small animal",
}
print(word)

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}

In [ ]:
set_classroom={'python','java','cpp',
               'javascrpit','java','python','java','cpp','C'}
print(len(set_classroom))

5

In [ ]:

grade={}
sub1=input('enter the subject')
marks=input('enter rthe marks')
print(f"{sub1}:{marks}")

enter the subjectmath
enter rthe marks52
math:52

In [ ]:
marks={}
x=int(input('enter for phy'))
marks.update({'phy':x})
x=int(input('enter for chem'))
marks.update({'chem':x})
x=int(input('enter for math'))
marks.update({'math':x})
print(marks)

enter for phy65
enter for chem36
enter for math56
{'phy': 65, 'chem': 36, 'math': 56}